<ion-header mode="ios" no-border>
  <ion-toolbar color="medium">
    <!-- <ion-buttons>
      <ion-button slot="start" (click)="showList()">
        <ion-icon name="arrow-back" item-start></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title style="text-align: center">
      <h3>Horarios {{interfaceOptions}}</h3>
    </ion-title>
    <!--  <ion-buttons slot="end">
      <ion-button (click)="showForm(null)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" fullscreen color="light">
  <ion-form [formGroup]="hoursForm" (submit)="onSubmit()">
    <ion-grid>
      <ion-row padding-top="1px">
        <ion-col size="5" size-lg align-items-center>
          <ion-label position="floating">Ingrese las horas:</ion-label>
        </ion-col>
        <ion-col size="5" offset="1" size-lg>
          <ion-item>
            <ion-input #hourSelect formControlName="hourSelect" type="number" autofocus required
              placeholder="solo numeros">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" hourSelect.value === '' ">
        <!--  hourSelect.value === 0  || -->
        <ion-col size="12" style="text-align: center">
          <p class="error" #errorDiv style="border:solid 1px rgb(0, 255, 42);background-color: pink; color:red"> Debe
            ingresar las horas </p>
        </ion-col>
      </ion-row>

      <ion-row padding-top="1px">
        <ion-col size="6" size-lg align-items-center>
          <ion-label position="floating">Seleccione empleado:</ion-label>
        </ion-col>
        <ion-col size="6" size-lg>
          <select #selEmpl formControlName="selEmpl">
            <option *ngFor="let user of employeeds" value={{user.first}}>{{user.first + ' ' + user.last}}</option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="selEmpl.value === ''">
        <ion-col size="12" style="text-align: center">
          <p class="error" #errorDiv style="border:solid 1px rgb(0, 255, 42);background-color: pink; color:red"> Debe
            seleccionar un empleado </p>
        </ion-col>
      </ion-row>

      <ion-row padding-top="1px">
        <ion-col size="6" size-lg align-items-center>
          <ion-label>Fecha de inicio:</ion-label>
        </ion-col>
        <ion-col size="6" size-lg align-items-center>
          <ion-label>Fecha final:</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-input #hourIni formControlName="hourIni" type="Date">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-lg>
          <ion-item>
            <ion-input #hourFin formControlName="hourFin" type="Date">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-button (click)="list()" expand="full" color="tertiary">
              <ion-icon color="light" name="list"></ion-icon>Listado
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="deleteHoras(selEmpl)" expand="full" color="tertiary">
              <ion-icon color="light" name="remove-circle-outline"></ion-icon>Quitar
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="assign(selEmpl, hourSelect,hourFin,hourIni)" expand="full" color="tertiary">
              <ion-icon color="light" name="add-circle-outline"></ion-icon>Asignar
            </ion-button>
          </ion-col>
        </ion-row>
        <div class="alert" *ngIf="hourIni.value > hourFin.value" style="text-align: center">
          <!-- [hidden]="true" -->
          <p class="error" #errorDiv style="border:solid 1px rgb(0, 255, 42);background-color: pink; color:red"> Fecha
            de inicio debe ser anterior a fecha final </p>
        </div>
      </ion-grid>
    </ion-item-divider>
  </ion-form>
  <!--   <ion-button expand="full" color="danger"(click)="presentToast()">presentToast()</ion-button>
 -->
  <ion-card>
    <!-- style="display: none;"  [hidden]="true"-->
    <!-- Tabla -->
    <div #table class="export-table" style=" align-content: center; padding-left:4px" *ngIf="employeeds && showDiv">
      <hr />
      <h4
        style="background-color: hsl(218, 76%, 45%); color: beige; padding-top: 1px; padding-bottom: 1px; text-align: center">
        Listado de empleados</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Apellido</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Horas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of employeeds; let i=index">
            <td>{{ e.first | uppercase}}</td>
            <td>{{e.last | uppercase}}</td>
            <td>{{e.fechaI  | date:'shortDate'}}</td>
            <td>{{e.fechaF  | date:'M/d/yy' }}</td>
            <td>{{e.horas }}</td>
          </tr>
        </tbody>
      </table>

      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="DownloadtoPDF()">
            <ion-icon name="save"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

    </div>
  </ion-card>

</ion-content>