<ion-header mode="ios" no-border>
  <ion-toolbar color="medium">
    <!-- <ion-buttons>
      <ion-button slot="start" (click)="showList()">
        <ion-icon name="arrow-back" item-start></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title style="text-align: center">
      <h3>Horarios</h3>
    </ion-title>
    <!--  <ion-buttons slot="end">
      <ion-button (click)="showForm(null)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<!-- select -->

<!-- <ion-card-header style="text-align: center; color:  rgb(15, 32, 129)"><strong>Select Employee</strong>
        </ion-card-header> -->

<ion-content mode="ios" fullscreen color="light">
  <ion-form [formGroup]="hoursForm" (submit)="onSubmit()" > <!-- *ngIf="showImage" -->
    <ion-grid>
      <ion-row padding-top="2px">
        <ion-col size="6" size-lg align-items-center>
          <ion-label position="floating">Seleccione empleado:</ion-label>
        </ion-col>
        <ion-col size="6" size-lg>
          <select #hourSelect formControlName="hourSelect">
            <option *ngFor="let user of employeeds">{{user.first + ' ' + user.last}}</option>
          </select>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="5" size-lg align-items-center>
          <ion-label position="floating">Ingrese las horas:</ion-label>
        </ion-col>
        <ion-col size="5" offset="1" size-lg>
          <ion-item>
            <ion-input #selEmpl formControlName="selEmpl" type="number" autofocus required placeholder="(solo numero)">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="6" size-lg align-items-center>
          <ion-label>Fecha de inicio:</ion-label>
        </ion-col>
        <ion-col size="6" size-lg align-items-center>
          <ion-label>Fecha final:</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-input #hourIni formControlName="hourIni" type="Date">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-lg>
          <ion-item>
            <ion-input #hourFin formControlName="hourFin" type="Date">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-form>
  
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="5" offset="1">
            <ion-button (click)="list()" expand="full" color="tertiary">
              <ion-icon color="light" name="list"></ion-icon>Listado
            </ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button (click)="assign(hourFin.value,hourIni.value,selEmpl.value, hourSelect.value)" expand="full" color="tertiary">
              <ion-icon color="light" name="add-circle-outline"></ion-icon>Asignar
            </ion-button>             
          </ion-col>
        </ion-row>
      </ion-grid>      
      
        <!-- Tabla -->
      <div #table class="export-table" style=" align-content: center; padding-left:4px" *ngIf="employeeds && showImage">
          <hr/>
        <h4 style="background-color: hsl(218, 76%, 45%); color: beige; padding-top: 1px; padding-bottom: 1px; text-align: center">
          Listado de empleados</h4>
        <table >
          <!-- class="export-table" style="align-self: auto; border:1; margin-top: 2px" -->
          <thead>
            <tr>
              <th>Name</th>
              <th>Apellido</th>
              <th>Disponible</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of employeeds; let i=index">
              <td>{{ e.first | uppercase}}</td>
              <td>{{e.last | uppercase}}</td>
              <td>{{e.disponible }}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
  <!-- new form -->
  <ion-form [formGroup]="hoursFormulario" (submit)="onSubmit()">
    <ion-label position="floating">Horas:</ion-label>
    <!--    <ion-item>
          <ion-input #selEmpl formControlName="hour" type="number" required placeholder=" * * "></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="!hour.valid  && (hour.dirty || hour.touched)">
          <p *ngIf="hour.errors.required" color="danger" ion-text>Hour is required </p>
        </ion-item> -->
  </ion-form>
  <!-- termina -->

  

  <!--  <ion-form [formGroup]="hoursForm" (submit)="onSubmit()">      
       
      <ion-label position="floating">Horas:</ion-label>
      <ion-item>
        <ion-input #selEmpl formControlName="hour" type="number" required placeholder=" * * "></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="!hour.valid  && (hour.dirty || hour.touched)">
        <p *ngIf="hour.errors.required" color="danger" ion-text>Hour is required </p>
      </ion-item>

      <ion-label position="floating">Descripcion:</ion-label>
      <ion-item>
        <ion-textarea formControlName="description" name="description:" required placeholder=" * * " minlength="4"
          maxlength="200">
        </ion-textarea>
      </ion-item>
      <ion-item class="error" *ngIf="!description.valid  && (description.dirty || description.touched)">
        <p *ngIf="description.errors.required" color="danger"> Description is required</p>
        <p *ngIf="description.errors.minlength" color="danger">Must be at least 4 characters</p>
        <p *ngIf="description.errors.maxlength" color="danger">Must be max 200 characters</p>
      </ion-item>

      <div class="btn">
        <ion-button type="submit" fill="clear" class="btn-send" [disable]="!productForm.valid" (click)="onSubmit()">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button type="button" fill="clear" class="btn-send" (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
    
    </ion-form> -->
  </ion-card>
</ion-content>