<ion-card mode="ios" color="danger">
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>


<ion-card mode="ios" color="danger">

  <ion-item href="#">
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>Item 1 </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>Item 2</ion-label>
  </ion-item>

</ion-card>

<ion-list mode="ios" color="light" >
   <!-- <ion-virtual-scroll [items]="items" approxItemHeight="320px"> -->
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-img src="src\assets\icon\favicon.png" style="height: 88;">

    </ion-img>
    <ion-item>
    <ion-button color="success" (click)="calcula()" fill="outline" slot="end">calcula</ion-button>
<ion-text>{{numero}}</ion-text>
</ion-item>
  </ion-list>
<!-- <ion-card color="dark">
  <ion-icon color="light" slot="right" name="trash"></ion-icon>
  <ion-img src="src\assets\certificado.jpg"></ion-img>
  <ion-contetnt>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique magnam consectetur quaerat est nesciunt harum dolorum nulla libero repudiandae! Voluptates facere deleniti dolore nihil. Incidunt itaque error tempora doloremque ipsam?
  </ion-contetnt>
</ion-card> -->