
h3, ion-icon{
    color: rgb(179, 241, 207);
    font-weight: bold;
    margin-top:8px;
}/* 
.alert-danger{
    background-color: rgb(231, 122, 122);
    color: rgb(250, 68, 68);
    border-color: rgb(241, 195, 195);
    margin: 1px;
    }
    .container-error-msessage{
        padding: 3px;;
    }
    ion-button :hover:not([disabled]){
        background-color: aqua;
    }
    /* mas */
   /*  p {
        font-size: 0.8em;
        color: #d2d2d2;
    }
    
    ion-slides {
        height: 100%;
    }
    
    ion-slide {
        display: block;
    }
    
    ion-label, .select-text {
        margin-left: 10px;
    }
    
    .invalid {
        border: 1px solid #ea6153;
    } */ 
    /* 
    .barra{
        height:500px;
    }
    
    .form-group{
        background: rgb(203, 236, 175) ;
        padding : 5px;
        margin  : 0;
        position: relative;
    }
    h4, h3{
        color: mediumseagreen;
    }
    
    .card{
        
        border-top-color: greenyellow;
        top: 10px;
        margin-bottom: 15px;
        margin-top: 15px;
    
    }
    
    #btnAdd, #btncncel {
        background-color: whitesmoke;
        border-color: greenyellow;
        font-size: 18px;
        text-align: center;
    }
    
    textarea{
        display : block;
        padding : 10px;
        margin  : 0px;  
    }
    .class{
        padding : 20px;
        margin  : 5px;
    }
    #addProd{
        padding : 10px;
        margin  : 5px;
        border-radius: 10px
    }*/