

h4{
    /* display: block; */
   /*  padding-top: 3px; */
   /*  align-content: center; */
   text-align: right;
}
 span{
    color: white;
    padding-left: 38px;
    font-size:24px;
} 
img{
    border-left: 1px;
     padding:1px;
     align-items: left;
}
.container{
    margin-top:2px;
    background-color: rgb(154, 148, 238);
    /*  text-align: center;  */
    border-radius: 2px;
   /*  clear: both; */
    
} 
a:visited{
    color: #a72c2c;
}
a:hover{
    color: greenyellow;
}
/*a:after{
    color: blueviolet;
} */