

h4{
    /* display: block; */
   /*  padding-top: 3px; */
   /*  align-content: center; */
   text-align: right;
   text-decoration: none;
}
 span{
    color: rgb(240, 224, 224);
    padding-left: 38px;
    font-size:24px;
    font-weight: bolder;
    text-decoration: none;
} span :hover{
    color:yellowgreen;
}
img{
    border-left: 1px;
     padding:1px;
     align-items: left;
}
.container{
    margin-top:2px;
    background-color: rgb(74, 136, 207);
    /*  text-align: center;  */
    border-radius: 2px;
   /*  clear: both; */
    
} 
.container :hover{
    color: greenyellow;
}
a:visited{
    color: #a72c2c;
}
a:hover{
    color: greenyellow;
}
/*a:after{
    color: blueviolet;
} */