
h3{
    color: rgb(253, 148, 78);
    /* font-weight: bold;
    margin-top:8px; */
    text-align: center;
} 
ion-label{
    text-transform: uppercase;
}
ion-icon{
    color: gold;
}
ion-header ion-icon{
    color: rgb(253, 148, 78);
}

ion-p{
    margin: 0px;
    font-size: 15px;
}
ion-list{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin:5px;
}
ion-container{
    border-top:3px solid black;
}
