<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Producto</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSubmit()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>       
</ion-header>
<ion-form [formGroup]="productForm" novalidate>
  <ion-item>
    <ion-input type="text" formControlName="name" required placeholder="Nombre"></ion-input>
  </ion-item>  
  <ion-item>
    <ion-textarea formControlName="description"  placeholder="Descripcion" name="description"></ion-textarea>
  </ion-item>
</ion-form>