
<ion-card no-border mode="ios" color="medium">
    <ion-card-header>
      <ion-toolbar>
        <ion-title> {{title | uppercase}}
          <!-- <ion-card-title>{{detailOrder.nombre}}</ion-card-title> -->
        </ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="showList()">
            <ion-icon name="arrow-back" color="dark"> </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content mode="ios" color="light">
      <ion-list>
        <ion-item>
          <ion-label>Code Order:</ion-label>
          <ion-p>{{detailOrder.id}}</ion-p>
        </ion-item>
        <ion-item>
          <ion-label>Producto :</ion-label>
          <ion-p>{{detailOrder.productName}}</ion-p>
        </ion-item>
        <ion-item>
          <ion-label>purchaseId:</ion-label>
          <ion-p>{{detailOrder.purchaseId}}</ion-p>
        </ion-item>
        <ion-item>
          <ion-label>saleId:</ion-label>
          <ion-p>{{detailOrder.saleId}}</ion-p>
        </ion-item>
        <ion-item>
          <ion-label>description:</ion-label>
          <ion-p>{{detailOrder.description}}</ion-p>
        </ion-item>
        <ion-item>
          <ion-label>count:</ion-label>
          <ion-p>{{detailOrder.count}}</ion-p>
        </ion-item>
        <ion-item>
          <ion-label>totalAmount:</ion-label>
          <ion-p>{{detailOrder.totalAmount}}</ion-p>
        </ion-item>
        <ion-item>
          <ion-label>Visitado en:</ion-label>
          <ion-p>{{detailOrder.tmstmp | date}}</ion-p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>