<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Detalle Pedido</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="showPage()"><ion-icon class="fas fa-long-arrow-left"></ion-icon></ion-button>
        <ion-button (click)="showPage()"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      </ion-buttons> 
    </ion-toolbar>       
  </ion-header>
  
  <div>
    <ion-item>
        <ion-label>Pedido Nº: {{detailOrder.id}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Cliente: {{detailOrder.productName}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Descripcion: {{detailOrder.description}}</ion-label>
    </ion-item>
  </div>