<ion-header mode="ios" no-border>
  <ion-toolbar color="medium">
    <ion-title>
      <h3>GASTOS EXTRAS</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showForm(null)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true" fullscreen mode="ios" class=" ion-padding ">

  <ion-container *ngFor="let p of extraExpenses; let i=index" (click)="showDetail(p)" (ionSelect)="setPerson(i)">
    <ion-list #myList lines="full" no-border>

      <ion-item>
        <ion-label text-wrap>
          <h5 style="text-align: center">Monto:{{p.price}} - Descripcion: {{p.description}} - Fecha; <i>
              {{p.tmstmp | date}}</i>
          </h5>
        </ion-label>
      </ion-item>

    </ion-list>
   
  </ion-container>
  <ion-item>
    <ion-button slot="end" (click)="DownloadtoPDF()" color="medium">
      <ion-icon name="save"> </ion-icon>
    </ion-button>
  </ion-item>
</ion-content>