<ion-header>
    <ion-toolbar>
        <ion-title>
                {{showComponent}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-product-list *ngIf="showComponent == 'list' else list" #list
        [products]="products"
        (showComponent)="showPage($event)">
    </app-product-list >
    <app-product-form  *ngIf="showComponent == 'form' else form" #form
        [product]="prod"
        (showComponent)="showPage($event)">
    </app-product-form>
    <app-product-detail *ngIf="showComponent == 'detail' else detail" #detail
        [detailProduct]="detailProduct"
        (showComponent)="showPage($event)">
    </app-product-detail>
</ion-content>
      
      
    

