<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Venta</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="onSubmit()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>       
  </ion-header>
  
  <ion-form [formGroup]="purchaseForm" fullscreen>
    <ion-item>
      <ion-label>Cliente:</ion-label>
      <ion-select formControlName="clientId" (ionChange)="onChange($event)">
        <ion-select-option *ngFor="let c of clients" value="{{c.id}}">{{c.name}} {{c.lastname}}</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-textarea formControlName="description" placeholder="Descripcion" ></ion-textarea>
    </ion-item>
  </ion-form>
  
  <app-order
    [purchase]="purchase"
    [products]="products"
    [orders]="orders"
    (actionOrder)="actionOrder($event)">
  </app-order>
  