<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-button color="medium" expand="block" href="/layout/sales">VENTAS</ion-button>
      <ion-button color="medium" expand="block" href="/layout/persons">PERSONAS</ion-button>
      <ion-button color="medium" expand="block" href="/layout/products">PRODUCTOS</ion-button>
      <ion-button color="medium" expand="block" href="/layout/charters">LADING</ion-button>
      <ion-button color="medium" expand="block" href="/layout/hours-employee">HORAS EMPLEADOS</ion-button>
      <ion-button color="medium" expand="block" href="/layout/extra-expenses">GASTOS EXTRAS</ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>