/* .my-custom-menu {
    --width: 500px;
  } */
  
  a:hover {
    color:black;
    cursor: pointer;
  }
  ion-toolbar:hover{
    background-color:  rgb(73, 124, 90);
  }

  ion-title{
    font-weight: bolder;
    background-color: whitesmoke;
    /* border: .5px solid #989aa2; */
    text-align: center;
  }
  span{
    color:rgb(73, 124, 90);
    text-transform: uppercase;
    text-align: center;
  }
  ion-menu-button{
    color:rgb(73, 124, 90);
  }

 