
<!--<ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
        <ion-toolbar color="warning">
            <ion-title>{{title}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>uno</ion-item>
            <ion-item>uno</ion-item>
            <ion-item>uno</ion-item>
            <ion-item>uno</ion-item>
        </ion-list>
    </ion-content>
</ion-menu> -->
 <ion-header>
        <ion-toolbar color="warning">
            <ion-title>{{title}}</ion-title>
        </ion-toolbar>
    </ion-header> 