/* .my-custom-menu {
    --width: 500px;
  } */
  /* .my-custom-menu {
    --width: 500px;
  } */
  
  a:hover {
    color:black;
    cursor: pointer;
  }
  ion-toolbar:hover{
    background-color:  yellowgreen;
  }
  a:link{
    text-decoration:none;
  }

  ion-title{
    font-weight: bolder;
    background-color: whitesmoke;
    border: .5px solid rgb(18, 8, 117);
    text-align: center;
  }
  span{
    color:rgb(18, 8, 117);
    text-transform: uppercase;
    text-align: center;
  }
  ion-menu-button{
    color:rgb(18, 8, 117);
  }

 