<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fletes</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSubmit()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>       
</ion-header>

<ion-form [formGroup]="charterForm" fullscreen>
  <ion-item>
    <ion-label type="text">Fleteros:</ion-label>
    <ion-select formControlName="travelerId" (ionChange)="onChange($event)">
      <ion-select-option *ngFor="let t of travelers" value="{{t.id}}">{{t.name}} {{t.lastname}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input type="Date" formControlName="date" placeholder="Fecha" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" formControlName="sourceAddress" placeholder="Origen" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" formControlName="destinationAddress" placeholder="Destino" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="Number" formControlName="price" placeholder="Precio" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea formControlName="description" placeholder="Descripcion" ></ion-textarea>
  </ion-item>
</ion-form>
<div *ngIf="sales && (sales.length>0) && saleSelected == -1"><h5 class="ion-text-center">Asignar a una venta.</h5></div>
  <div *ngIf="sales && (sales.length>0) && saleSelected != -1 && saleObjSelected">
    <ion-item color="secondary">
        <ion-label text-wrap>
          <h2>Venta Nº: {{saleObjSelected.id}} - {{saleObjSelected.clientName}} - ${{saleObjSelected.totalAmount}}</h2>
          <p>{{saleObjSelected.description}}</p>
          <p>{{saleObjSelected.tmstmp}}</p>
        </ion-label>
      </ion-item> 
  </div>
<ion-content >
  <ion-header  >
      <ion-toolbar color="primary">
      <ion-title>Ventas sin Fletes</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="!sales || (sales.length==0)"><h6 class="ion-text-center">No hay elementos.</h6></div>
  <div > 
    <ion-list #myList lines="full" *ngFor="let s of sales; let i=index" (click)="setSale(i)">
      <ion-item >
        <ion-label text-wrap>
          <h2>Venta Nº: {{s.id}} - {{s.clientName}} - ${{s.totalAmount}}</h2>
          <p>{{s.description}}</p>
          <p>{{s.tmstmp}}</p>
        </ion-label>
      </ion-item> 
    </ion-list>
  </div>
</ion-content>