<!-- <ion-header>
  <ion-toolbar>
    <ion-title>error</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<!-- <ion-card>
  <ion-card-content> -->
    <div class="contenido">
    <!-- <div class="img"> -->
<!--         <img href="src\assets\images\errorImg.jpg" style="vertical-align:middle" class="fullscreen-image">
 -->        <!-- <img src="data:src\assets\images\errorImg.jpg" >
     </div>  -->
    
<!--      <img class="imagen" src="src\assets\images\errorImg.jpg">
 -->    <!-- <h1 style="vertical-align:inherit">Extraviado</h1> -->
    <!-- <p>Lo sentimos, no encontramos su página</p> -->
    <!-- <ion-img  href="src\assets\images\cardona.jpg">   -->
       <!-- [src]="src\assets\images\cardona.jpg" -->
       <!-- <img src="../footer/../../../assets/cardona.jpg" class="img-responsive  " style="max-height:40px" />     -->    
  <!-- </ion-img> -->
<!--   </ion-card-content>
</ion-card> -->
 <!-- <h1 style="vertical-align:inherit">Extraviado</h1>  -->
 <!-- <h1 >Extraviado</h1> -->
<p>Lo sentimos, no encontramos su página! </p>
<!-- <div class="imgCntenedor"> 
   <img class="imagen"src="data:src\assets\images\errorImg.jpg">  -->
  <!--<img src="src\assets\icon\favicon.png" alt="" class="treis">-->
<!-- </div> -->
</div>


</ion-content>
