<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nueva Venta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSubmit()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>       
</ion-header>

<ion-form [formGroup]="saleForm" fullscreen>
  <ion-item>
    <ion-label>Cliente:</ion-label>
    <ion-select formControlName="clientName">
      <ion-select-option *ngFor="let c of clients" >{{c.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea formControlName="description" placeholder="Descripcion" ></ion-textarea>
  </ion-item>
</ion-form>

<app-order
  [sale]="sale"
  [products]="products"
  [showOrder]="showOrder"
  (actionOrder)="actionOrder($event)">
</app-order>

<!-- 
id : new FormControl(this.sale.id, ),
clientName : new FormControl(this.sale.clientName,[Validators.required]),
description : new FormControl(this.sale.description, [Validators.required]),
totalAmount : new FormControl(this.sale.totalAmount,[Validators.required]),
tmstmp : new FormControl(this.sale.tmstmp,[Validators.required]) -->