<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nueva Venta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSubmit()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>       
</ion-header>
<ion-form [formGroup]="saleForm" >
  <ion-item>
    <ion-label>Cliente:</ion-label>
    <ion-select formControlName="clientName" *ngFor="let c of clients">
      <ion-select-option>{{c.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea formControlName="description" placeholder="Descripcion" ></ion-textarea>
  </ion-item>
  <ion-card>
    <app-order-form></app-order-form>
  </ion-card>
  <ion-card>
    <app-order-list
      [saleId]="saleId">
    </app-order-list>
  </ion-card>
</ion-form>
<!-- 
id : new FormControl(this.sale.id, ),
clientName : new FormControl(this.sale.clientName,[Validators.required]),
description : new FormControl(this.sale.description, [Validators.required]),
totalAmount : new FormControl(this.sale.totalAmount,[Validators.required]),
tmstmp : new FormControl(this.sale.tmstmp,[Validators.required]) -->