<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Horas Empleado</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSubmit()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>       
</ion-header>
<ion-form [formGroup]="hoursEmployeeForm" novalidate>
  <ion-item>      
    <ion-label>Empleado:</ion-label>
    <ion-select formControlName="employeeId" (ionChange)="onChange($event)">
      <ion-select-option *ngFor="let e of employees" value="{{e.id}}">{{e.name}} {{e.lastname}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input type="date" formControlName="date" required placeholder="Fecha"></ion-input>
  </ion-item>  
  <ion-item>
    <ion-input formControlName="hoursWorked"  name="hoursWorked" placeholder="Horas trabajadas"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input formControlName="amount"  name="amount" placeholder="Precio ($)"></ion-input>
    </ion-item>
</ion-form>