
<app-hours-employee-list *ngIf="showComponent == 'list'"
    [hoursEmployees]="hoursEmployees"
    (showComponent)="showPage($event)">
</app-hours-employee-list >
<app-hours-employee-form  *ngIf="showComponent == 'form'"
    [employees]="employees"
    (showComponent)="showPage($event)">
</app-hours-employee-form>
<app-hours-employee-detail *ngIf="showComponent == 'detail'"
    [detailHoursEmployee]="detailHoursEmployee"
    (showComponent)="showPage($event)">
</app-hours-employee-detail>

  
  


