<section>
  <ion-button expand="block" href="/layout/persons" >PERSONAS</ion-button>
  <ion-button expand="block" href="/layout/products" >PRODUCTOS</ion-button>
  <ion-button expand="block" href="/layout/sales" >VENTAS</ion-button>
  <ion-button expand="block" href="/layout/extra-expenses" >GASTOS EXTRAS</ion-button>
  <ion-button expand="block" href="/layout/hours-employee" >HORAS EMPLEADOS</ion-button>
  <ion-button expand="block" href="/layout/charters" >FLETES</ion-button>
  <ion-button expand="block" href="/layout/purchases" >COMPRAS</ion-button>
</section>
