

<ion-content>
  <div class="ion-card">
    <!-- <div class='card-header'></div> -->
    <div class="ion-padding">
      <a routerLink="/layout/products">
        <div class="text-center">
          <h4>PRODUCTOS<i class="fas fa-shopping-cart ml-3" style="color: rgb(223, 129, 6);font-size: 34px"></i></h4>
        </div>
      </a>
    </div>
    <!-- <div class='ion-footer'>nnnn</div> -->
  </div>
  <!-- <ion-header>sasasa</ion-header>
  <div class="ion-padding">
    <a routerLink="/layout/products">Products and pins </a>
  </div> -->
</ion-content>