<ion-header mode="ios">
  <!-- no-border -->
  <ion-toolbar color="medium">
    <!--  <ion-title>Productos</ion-title> -->
    <ion-title>
      <h3>{{title}}</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showForm(null)">
        <ion-icon name="add-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true" fullscreen mode="ios" class=" ion-padding ">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar mode="ios" (ionInput)="GetProduct($event)" animated  autocomplete="on"></ion-searchbar>

  <!-- <hr> -->

  <ion-container  *ngFor="let p of products; let i=index" (click)="showDetail(p)" [label]="p.name"
    (ionSelect)="setProduct(i)">
    <ion-list #myList lines="full" no-border>
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="primary">
            <ion-icon ios="ios-create" md="md-create" (click)="showForm(p)"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-label >
            <ion-sub-title>{{p.name | uppercase}} , {{p.tmstmp | date}}</ion-sub-title>
          <!--   <ion-p>{{p.tmstmp | date}} </ion-p> -->
          </ion-label>
          <!-- <ion-icon ios="ios-create" md="md-create" color="primary" (click)="showForm(p)" ></ion-icon>
            <ion-icon slot="end" name="trash" color="danger" (click)="deleteProduct(i)" ></ion-icon> -->
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon name="trash" (click)="deleteProduct(i)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-container>

  <!-- infinite-scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crecent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>