/* ion-list{
    align-content: center;
}
ion-label{
    align-content: center;
    margin: auto;
} */
hr{
    border: solid 2px;
    border-color: gold;
    margin-top: -10px;    
}
h3{
    color: gold;
}
ion-icon{
    color: gold;
}

ion-container{   
   /*  display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   justify-content: center;
   align-items: center; */
}