
hr{
    border: solid 2px;
    border-color: rgb(18, 8, 117);
    margin-top: -10px;  
}
h3{
    color: rgb(18, 8, 117);  
    text-align: center;
}
ion-icon{
    color: rgb(18, 8, 117);
}

ion-container{   
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   justify-content: center;
   align-items: center; 
}
#ww{
display: none;
}