<ion-header  mode="ios">  <!-- no-border -->

  <app-header></app-header>

  <ion-toolbar>   
    <ion-title><h3>{{title}}</h3></ion-title>

    <ion-buttons slot="end"><a  routerLink="/layout/formu">
      <ion-button >
        <ion-icon name="add-circle-outline" ></ion-icon>       
      </ion-button></a>
    </ion-buttons>
  </ion-toolbar> 
  <!-- (click)="addNew()" -->

  <ion-toolbar color="light">
    <ion-searchbar aria-placeholder="Buscar"  animated (ionChange)="buscarAlgo($event)"  >      
    </ion-searchbar>
  </ion-toolbar> 

</ion-header>

<ion-content padding [scrollEvents]="true" fullscreen mode="ios">  
   <ion-tabs color="light" *ngIf="products && products.length; else cargando">
      <ion-tab *ngFor="let p of products; let i=index" (click)="showDetail(p)" [label]="p.nombre" (ionSelect)="setProduct(i)"> 
       
        <ion-list #myList lines="full">
          <ion-item >
            <ion-label text-wrap>
              <h2>{{p.nombre}}</h2>
            </ion-label>
            <ion-icon slot="end" name="trash" color="danger" (click)="deleteProduct(i)"></ion-icon>
            <ion-icon slot="end" name="create" color="tertiary" (click)="showForm(p)"></ion-icon>
          </ion-item> 
        </ion-list>
        
      </ion-tab>
    </ion-tabs>

    <!-- ///////////  PRUEBA ////////// -->

    <!-- /    BOON ATRAS    -->
    
    
   <!--  <ion-buttons slot="start"> -->
<!--       <a href="#"><ion-icon name="arrow-back" item-start></ion-icon></a>-->     
 <!--      <ion-back-button defaultl-href='/' text='Regresa'></ion-back-button>
    </ion-buttons> -->

    <!-- ///////////////////////////
     -->
 <!-- <ion-list>
  <ion-item.sliding *ngFor= "let g of products">
    <ion-item>
      <h2>{{g.nombre}}</h2>
      <p>{{g.nombre}}</p>
    </ion-item>
    <ion-item-options  side="left">
      <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        text
      </button>
      <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          call
        </button>
    </ion-item-options>
    <ion-item-options  side="right">
        <button ion-button color="danger">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
      </ion-item-options>
  </ion-item.sliding>
</ion-list>  -->
<!-- 
<ion-list>
  <ion-item *ngFor="let r of [1,2,3,4]">
<ion-label>fenix </ion-label>
  </ion-item>
  <ion-item>dede</ion-item>
  <ion-item>lala</ion-item>
  <ion-item>lolo</ion-item>
</ion-list> -->
       <!-- /////////// TERMINA  PRUEBA ////////// -->
  
       <app-footer></app-footer>
       
</ion-content>
<!--<ion-footer>
     <ion-button routerLink='/layout/shippingForm'>Open</ion-button>
    <ion-icon name="create" color="dark" (click)="delete(p)"></ion-icon> 
</ion-footer>-->

<ng-template #cargando>
  <div>
    <h3>CARGANDO..</h3>
    <i class="fa fa-spin fa-spinner fa-3x"></i>
  </div>
</ng-template>