<ion-header no-border mode="ios">
  <!--  <ion-button  ng-click="data.showDelete = !data.showDelete">
       <ion-icon name="remove-circle-outline"> </ion-icon>   
     </ion-button> -->
  <ion-toolbar>
    <ion-title>
      <h3>{{title}}</h3>
    </ion-title>
    <ion-buttons slot="start">
      <a href="#"><ion-icon name="arrow-round-back" item-start></ion-icon></a>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="add-circle-outline" (click)="showForm()"></ion-icon>       
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true" fullscreen mode="ios">  
  <ion-item>
    <ion-searchbar (ionInput)="getProduct($event)"></ion-searchbar>
  </ion-item>

  <ion-tabs color="light" *ngIf="products && products.length; else cargando">
      <ion-tab *ngFor="let p of products; let i=index" (click)="showDetail(p)" [label]="p.nombre" (ionSelect)="setProduct(i)"> 
       
        <ion-list #myList lines="full">
          <ion-item [routerLink]="['/AddEditItem', { tab:i, item:j }]">
            <ion-label text-wrap>
              <h2>{{p.nombre}}</h2>
            </ion-label>
            <ion-icon slot="end" name="trash" color="danger" (click)="delete(i)"></ion-icon>
            <ion-icon slot="end" name="create" color="tertiary" (click)="edit(i)"></ion-icon>

          </ion-item> 
        </ion-list>
      </ion-tab>
    </ion-tabs>

    <!-- ///////////  PRUEBA ////////// -->
<!-- <ion-list>
  <ion-item.sliding *ngFor= "g of products">
    <ion-item>
      <h2>{{g.nombre}}</h2>
      <p>{{g.nombre}}</p>
    </ion-item>
    <ion-item-options  side="left">
      <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        text
      </button>
      <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          call
        </button>
    </ion-item-options>
    <ion-item-options  side="right">
        <button ion-button color="danger">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
      </ion-item-options>
  </ion-item.sliding>
</ion-list> -->

       <!-- /////////// TERMINA  PRUEBA ////////// -->
</ion-content>
<ion-footer>
    <ion-icon name="create" color="dark" (click)="delete(p)"></ion-icon>
</ion-footer>

<ng-template #cargando>
  <div>
    <h3>CARGANDO..</h3>
    <i class="fa fa-spin fa-spinner fa-3x"></i>
  </div>
</ng-template>