<!-- ***************************************** -->
<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      <h3>{{title}}</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="barra" mode="ios" fullscreen>

  
<!-- ///////////////////////  EMPIEZA   PRICIPAL SIN CAMBIOS  ///////////////////////////// -->
<form [formGroup]="shippingForm" (submit)="addShipping()">
  <ion-list lines=" full " class=" ion-no-margin ion-no-padding ">
    <ion-item>
      <ion-label>Fletero</ion-label>
      <ion-input formControlName="fletero" type="text" placeholder="Nombre del fletero" autofocus required
        minlength="4"></ion-input>
    </ion-item>
  
      <ion-item>
        <ion-label> Seleccione fletero </ion-label>
        <ion-select placeholder="Select One " formControlName="fletero">
        <!-- <option *ngFor='let f of fletes' value={{f.id}}> {{f.id}} </option>  -->
         <ion-select-option value="1"> Fletero1 </ion-select-option> 
           <ion-select-option value="2"> Fletero2 </ion-select-option> 
        </ion-select>
      </ion-item>
      
    <ion-item>
      <label position="floating" for="">Precio:</label>
      <ion-input formControlName="precioShipping" type="text" placeholder=" * *" required></ion-input>
    </ion-item>

    <ion-item>
      <label position="stacked">Fecha envio:</label>
      <ion-datetime #fecha formControlName="fechaShippimg" displayFormat="MM-DD-YYYY" placeholder="MM-DD-YYY">
      </ion-datetime>
    </ion-item>

    <ion-button color="medium" expand="full" type="submit">Guardar!!</ion-button>
    <!-- [disabled]="!shippingForm.valid" -->

    <!-- 
          <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
         -->

  </ion-list>
</form>

    <!-- ///////////      termina principàl -->


   <!-- //////////////////////    EMPIEZA PRUEBA 1////////////////////////////// -->
<!--   <form [formGroup]="shippingForm"(ngSubmit)="verElform()" novalidate>
    <ion-item>
      <ion-label>nombre</ion-label>
      <ion-input type="text" formControlName="name" placeholder="* * "  autofocus required minlength="4" maxlength="8"></ion-input>
    </ion-item>
    <ion-item *ngIf="shippingForm.get('name').errors && shippingForm.get('name').dirty">
      <p color="danger" ion-text *ngIf="shippingForm.get('name').hasError('rerquired')"> Dato obligatorio</p>
      <p color="danger" ion-text *ngIf="shippingForm.get('name').hasError('minlength')"> Debe tener mas de 4</p>
      <p color="danger" ion-text *ngIf="shippingForm.get('name').hasError('maxlength')"> Debe tener menosde 8</p>
    </ion-item>
    <ion-item>
    <ion-label>precio</ion-label>
    <ion-input type="text" formControlName="precio" placeholder="* * "   required ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea formControlName="description"></ion-textarea>
  </ion-item>
 <ion-button type="submit" [disabled]="!shippingForm.valid">Submit</ion-button> 
  </form> -->
  <!-- ////////////////////      TERMINA PRUEBA 1  //////////////////////////////// -->

  <!-- //////////////////////    EMPIEZA PRUEBA 2////////////////////////////// -->
 <!-- <form [formGroup]="shippingForm" (submit)="addShipping()">  
    <ion-list  lines = " full "  class = " ion-no-margin ion-no-padding " >      
      <ion-item>
          <ion-label position = " stacked " >Nombre:</ion-label>
          <div class="form-group">
              <ion-input #nombre type="text" class="form-control form-control-sm" placeholder="* "  autofocus required minlength="4"></ion-input >
            </div>
      </ion-item>
      <ion-item>
          <ion-label position = " stacked " >Precio:</ion-label>
          <div class="form-group">
            <ion-input #precio type="text"  class="form-control form-control-sm" placeholder="* " required oninput = "handleLastNameValue (event) "> </ion-input >
            </div>
      </ion-item>
       
        <ion-item>
          <ion-label  position = " stacked " > Notas </ion-label >
          <ion-textarea > </ion-textarea >
        </ion-item >
      -->
<!-- ////////////////////      TERMINA PRUEBA 2//////////////////////////////// -->

<!-- muestra lista 00 -->    
  <ion-list>
    <ion-item>
      <ion-label>Lista de envios</ion-label>
      <ion-icon name="wine" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <!--(click)=" showDetail() "  -->
  <!-- (click)=" showList() " -->
  <ion-item>
    <ion-label>FOOTER</ion-label>
    <ion-button color="success" (click)="cancel()" fill="outline" slot="end">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-button color="success" expand="full" fill="outline" shape="round">
    <!-- <a routerLink="/layout/products">products</a> -->
    <ion-icon name="arrow-round-back"></ion-icon>
  </ion-button>

</ion-footer>

<!-- ///////////////////////////////////////////// -->

<!-- <div class="class-row mx-0">    
      <button (click)=" showList() " class="col-auto  mr-2 mt-4"> <i class="fas fa-list-ul mr-2"
          style="color:rgb(173, 226, 28) "></i>ver lista </button>
      <button (click)=" showDetail() " class="col-auto ml-2 mt-4"> <i class="fas fa-info-circle mr-2"
          style="color: rgb(173, 226, 28)"></i> ver detalle </button>
    </div> -->

    <!-- ////////////////////   toogle  ///////////////////////////////// -->
      <!-- <ion-item>
        <ion-label>Toggle</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item> -->

     <!-- ////////////////////   RADIO  ///////////////////////////////// -->
       <!-- <ion-row radio-group formControlName="gender">
        <ion-col>
          <ion-item>
            <ion-icon name="woman" item-start></ion-icon>
            <ion-label>Mujer</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="man" item-start></ion-icon>
            <ion-label>Hombre</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>  -->

     <!-- ////////////////////   Checkbox  ///////////////////////////////// -->
     <!--  <ion-item>
        <ion-label>Checkbox</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </ion-list> -->

    <!-- ////////////////////   select  ///////////////////////////////// -->
    <!-- <ion-list>
      <ion-item>
        <ion-label> Select person type</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="cliente"> Cliente </ion-select-option>
          <ion-select-option value="empleado"> Empleado </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list> -->
    
    <!-- ////////////////////   radio-group  ///////////////////////////////// -->
  <!--   <ion-list>
        <ion-radio-group type="boolean">
          <ion-list-header>
            Select person type
          </ion-list-header>      
          <ion-item>
              <ion-icon name="woman" item-start></ion-icon>
            <ion-label>Cliente</ion-label>
            <ion-radio value="cliente"></ion-radio>
          </ion-item>        
          <ion-item>
              <ion-icon name="woman" item-start></ion-icon>
            <ion-label>Empleado</ion-label>
            <ion-radio value="empleado"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list> -->
  