
.barra{
    height:400px;
}

.form-group{
   /*  background: rgb(234, 248, 221) ; */
    padding : 5px;
    margin  : 0;
    position: relative;
}

h4, h3{
   border-bottom: 4px solid mediumseagreen;
}

.card{
    
    border-top-color: greenyellow;
    top: 10px;
    margin-bottom: 15px;
    margin-top: 15px;

}

#btnAdd, #btncncel {
    background-color: whitesmoke;
    border-color: greenyellow;
    font-size: 18px;
    text-align: center;
}

textarea{
    display : block;
    padding : 10px;
    margin  : 0px;  
}
.class{
    padding : 20px;
    margin  : 5px;
}
#addProd{
    padding : 10px;
    margin  : 5px;
    border-radius: 10px
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }